# This isn't a reusable workflow but a CI action for this repo itself - testing the contained workflows & scripts.
name: Script Tests
permissions:
  contents: read

on:
  push:

jobs:
  updater:
    name: Updater @ ${{ matrix.host }}
    runs-on: ${{ matrix.host }}-latest
    strategy:
      fail-fast: false
      matrix:
        host:
          - ubuntu
          - macos
          - windows
    steps:
      - run: git config --global core.autocrlf false

      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4 # v4 # v2

      - run: Invoke-Pester
        working-directory: updater
        shell: pwsh
        env:
          GH_TOKEN: ${{ github.token }}

  danger:
    name: Danger JS Tests
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: danger
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4 # v4 # v2

      - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4 # v4
        with:
          node-version: '18'

      - run: node --test

      - name: Check syntax
        run: node -c dangerfile.js
